<% if(error){ %>
  <div class="chip red">
    <%= error %>
    <i class="close material-icons">x</i>
  </div>
<% } %>
<% if(success){ %>
  <div class="chip green">
    <%= success %>
    <i class="close material-icons">x</i>
  </div>
<% } %>