<nav class="indigo">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo white-text">Hacktiv7</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/course" class="white-text">Courses</a></li>
      </ul>
    </div>
  </div>
</nav>