<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="jumbotron__title">
        <h1 class="black-text">Hacktiv7</h1>
      </div>
      <div class="jumbotron__description">
        <p>Belajar jadi mudah dan menantang! Hacktiv7 adalah layanan pembelajaran online berfokus pada dunia teknologi. Hacktiv7 mempunyai tujuan untuk mentransformasi sistem pembelajaran secara online</p>
      </div>
      <div class="action">
        <a href="login" class="waves-effect waves-light btn indigo white-text">Login</a>
        <a href="register" class="waves-effect waves-light btn indigo white-text">Register</a>
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>
</body>
</html>