.jumbotron{
  height: calc(100vh - 130px);
  /* max-height: 700px; */
  display: flex;
  background-color: white;
  background-image: url('/assets/home.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right 50px bottom 70px;
}
.jumbotron--mini{
  height: 130px;
  display: flex;
  background-color: #3f51b5;
}
.jumbotron .jumbotron__title{
  margin-top: 100px;
}
.jumbotron  .jumbotron__description{
  margin-top: 10px;
  max-width: 380px;
  width: 100%;
  font-size: 18px;
}
.jumbotron--mini .jumbotron__title{
  margin-top: 20px;
}
.jumbotron__title{
  color: white;
}

/* CONTENT */
#content{
  min-height: 80vh;
}
.content--item{
  display: block;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.1s;
}
.content--item:hover{
  transform: scale(1.02);
  transition: 0.1s;
}
.content--item__image{
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}
.content--item__price{
  bottom: 0;
  right: 0;
  position: absolute;
}
.content--item__price span{
  background: white;
  padding: 5px 10px;
}
.content--item__title{
  padding: 10px;
}
.content--item__title{
  font-size: 25px;
}
/* LOGIN */
.auth-content{
  background: #3f51b5;
  height: calc(100vh);
  display: flex;
}
.auth-content .title span{
  font-size: 50px;
}
.auth-content .form{
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  background: white;
  margin: 0 auto;
  margin-top: calc(25vh - 100px);
  max-width: 600px;
  width: 100%;
}
/* INDIVIDUAL */
.content-indi{
  margin-top: 10px; 
}
.banner--diagonal{
  background-size: cover;
  background-color: #3f51b5;
  clip-path: polygon(0 0, 100% 0%, 100% 52%, 0% 100%);
  height: 260px;
  display: block;
  position: relative;
}
.content-indi__title{
  margin-top: -100px;
  position: relative;
  margin-bottom: 30px;
}
.content-indi__title span{
  padding: 10px;
  background: white;
  /* color: #3f51b5; */
  color: black;
  font-size: 40px;
}
.content-indi__image img{
  width: 100%;
}
.content-indi__price{
  font-size: 40px;
  margin: 20px;
}
.content-indi__action button{
  width: 100%;
}

/* LIST */
.content-indi__video-list--container{
  margin-top:30px;
  border-radius: 10px;
  border: 2px solid #FFA00F;
  max-height: 300px;
  overflow: hidden;
}
.video-list{
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  color: black;
}
.video-list:hover{
  background-color: #cccccc;
}
.video-list--left{
  width: 10%;
  float: left;
}
.video-list--right{
  width: 90%;
  float: left;
}
.video-list__number,.video-list__title{
  font-size: 18px;
}

/* FOOOTER */
.footer{
  height: 66px;
  background: black;
  color: #3f51b5;
  padding: 25px 0;
  box-sizing: border-box;
}