<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <div class="jumbotron--mini">
    <div class="container">
      <div class="jumbotron__title">
        <h1>Courses</h1>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="content__group">
        <div class="content__group__title">
          <h3>Technology</h3>
        </div>
        <div class="row">
          <div class="content__group__list col s3">
            <a href="/course/1" class="content--item">
              <div class="content--item__image" style="background-image: url('https://d33wubrfki0l68.cloudfront.net/239d27a86bf0046263f33b8218da4885861195e0/1fa56/img/js/js.png')">
                <div class="content--item__price">
                  <span>Rp. 15000</span>
                </div>
              </div>
              <div class="content--item__title">
                <span>Title</span>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>