<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <div id="content-indi">
    <div class="banner--diagonal" style="background-image: url('https://d33wubrfki0l68.cloudfront.net/239d27a86bf0046263f33b8218da4885861195e0/1fa56/img/js/js.png')"></div>
    <div class="container">
      <div class="row">
        <div class="col s8">
          <div class="content-indi__title">
            <span>ultimate guide Javscript 101</span>
          </div>
          <div class="content-indi__image">
            <img src="https://d33wubrfki0l68.cloudfront.net/239d27a86bf0046263f33b8218da4885861195e0/1fa56/img/js/js.png">
          </div>
          <div class="content-indi__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ea voluptates harum debitis! Asperiores officiis doloremque modi ipsa minima repellat? Sapiente voluptates vel eius explicabo et necessitatibus animi culpa ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, minus. At odio adipisci excepturi eveniet. Officiis sed totam qui omnis nisi sequi! Unde aspernatur libero vel aliquid, nostrum odio praesentium.</p>
          </div>
        </div>
        <div class="col s4">
          <div class="content-indi__price">
            <span>
              Rp. 150,000
            </span>
          </div>
          <div class="content-indi__action">
            <button class="btn waves-effect waves-light btn-large amber black-text" type="submit" name="action">Buy
            </button>
          </div>
          <div class="content-indi__video-list">
            <div class="title">
              <h4>Preview</h4>
            </div>
            <div class="content-indi__video-list--container">
              <a href="#" class="video-list">
                <div class="video-list--left">
                  <div class="video-list__number">1</div>
                </div>
                <div class="video-list--right">
                  <div class="video-list__title">Introduction of Javascript</div>
                  <div class="video-list__duration">02:30</div>
                </div>
              </a>
              <a href="#" class="video-list">
                <div class="video-list--left">
                  <div class="video-list__number">1</div>
                </div>
                <div class="video-list--right">
                  <div class="video-list__title">Introduction of Javascript</div>
                  <div class="video-list__duration">02:30</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>